:host{
    margin: 10px
}

mat-list-item {
    border-bottom: 1px solid #e0e0e0;
}

mat-list {
    border: 1px solid #e0e0e0;
}

section{
    min-height: 90%;
    height: 90%;
}

.mat-icon {
    color: rgba(0, 0, 0, 0.54);
  }