:host{
    background-color: #e0e0e0;
    border: 1px solid #9c9c9c;
    align-items: center;
    background-color: #f1f1e1;
    display: flex;
    height: 90%;
    justify-content: center;
    position: relative;
    width: 90%;
}

.arcgis-map-container {
    height: 95%;
    width: 100%;
  }
  
  .map-loading-icon-container {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: 40%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .map-loading-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 20;
  }